<div class="app-container">
  <aside class="sidebar">
    <header class="sidebar-header">
      <div class="header-top">
        <h2>Contacts</h2>
        <div class="arrow-buttons">
          <button class="arrow-btn social-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-chevron-left" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
            </svg>
          </button>
          <button class="arrow-btn social-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-chevron-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708" />
            </svg>
          </button>
        </div>
      </div>
      <div class="search-bar">
        <p>Search for a Contact</p>
        <div class="search-input-wrapper">
          <input type="text" placeholder="Name, email, or phone number"  [(ngModel)]="searchQuery">
          <span class="search-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
              viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001l3.85 3.85a1 1 0 0 0 
          1.415-1.414l-3.85-3.85zm-5.242.656a5.5 5.5 0 
          1 1 0-11 5.5 5.5 0 0 1 0 11z" />
            </svg>
          </span>
        </div>
      </div>
    </header>

    <app-contact-list
    [contacts]="contacts | searchContact:searchQuery"
      (selectContact)="viewDetails($event)">
    </app-contact-list>
  </aside>
  <section class="details-panel">
    <router-outlet></router-outlet>
  </section>
</div>